*
{ font-family: sans-serif;
  color: light teal;
}
 h1, h2, h3
{
    font--family: Aerial;
     text-decoration: 
}
body
{
  background: url(../img/Houseplant-background.jpg) top center;
}
img
{ 
  float: left;
}


      
