*
{ font-family: Libre-Baskerville;
  color: rgb(53, 177, 177);
}
 h1
{
    font-family: Libre-Baskerville;
    Color: black;
     text-decoration: rgb(94, 134, 94) dotted underline;
}
h2, h3
{
  font-family: aerial;
  color: rgb(53, 52, 52);
}
   
body
{
  background-color: rgb(94,134,94);
}
img
{ 
  border: 20px;
}


      
