*
{ font-family: sans-serif;
  color: light teal;
}
 h1, h2, h3
{
    font--family: Aerial;
     text-decoration: dark green wavy underline;
}
body
{
  background-color: light green; top center;
}
img
{ 
  border: 20px
}


      
