*
{ font-family: Arial;
  color: rgb(44, 79, 79);
}
nav
{
  text-style: bold
}
 h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    Color: black;
     text-decoration: teal underline;
}
h2
{
  font-family: arial;
  color: cornflowerblue;
}
h3
{
  color: cornflowerblue;
}
body
{
  background-color: cadetblue
}
img
{ 
  border: 20px;
}
li
{ 
  color: gray;
}
