*
{ font-family: Arial;
  color: rgb(44, 79, 79);
}
nav
{
  text-style: bold;
  font-family: cursive;
}
 h1
{
    font-family: serif;
    Color: black;
     text-decoration: teal underline;
}
h2
{
  font-family: serif;
  color: cornflowerblue;
}
h3
{
  color: cadetblue;
}
body
{
  background-color: honeydew;
}
img 
{
   width: 160px;
   padding: 2px;
   border: 1px solid gray;
   margin: 5px 10px;
   max-width: 100%;
  text-align: left
}

li
{ 
  color: dimgray;
}
.aligned 
{
   display: flex;
   align-items: center;
}
          
 span 
{
 padding: 10px;
 }
